@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Food Diary</h1>
    <p class="lead">Food diary for analysis of behaviour patterns</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">In Devlopment</a></p>
</div>

